/* Larger Views */
@media (min-width: 740px) {
    
	main {
		max-width: 100%;
	}

	h1 {
	text-align: left;
	font-size: 1.5rem; 
	margin-left: 1.7rem;
    padding-top: 0.7rem; 
	}
	
	.res-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr; 
		gap: 1.5rem;
		max-width: 96%;
        margin: 0 auto;
	}

	header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    #menu {
        display: none; 
    }

    .navigation {
        display: flex; 
        flex-direction: row; 
        gap: 1rem;
    }

    .navigation a {
        display: block; 
        padding: 0.6rem 1rem;
    }

    .navigation a:hover {
        background-color: rgb(32, 37, 41);
        font-weight: 700;
    }
}