/* Larger Views */
@media (min-width: 740px) {
    
	main {
		max-width: 100%;
	}

	h1 {
	text-align: left;
	font-size: 1.5rem; 
	margin-left: 1.7rem;
    padding-top: 0.7rem; 
	}
	
	.album {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		max-width: 96%;
        margin: 0 auto;
	}

	header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex; 
        flex-direction: row; 
    }

        nav a {
        flex: 1 4 100%; 
    }
}